!!! transitional

//html(lang="en", ng-app="")
html(lang="en")
    head
        title Data Glue
        //base(href="/index.html")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        script(data-main="js/main",src="js/bower_components/requirejs/require.js")
        link(rel="stylesheet",type="text/css",media="all",href="css/bootstrap.min.css")
        link(rel="stylesheet",type="text/css",media="all",href="css/app.css")
        link(rel="stylesheet",type="text/css",media="all",href="js/bower_components/pines-notify/jquery.pnotify.default.css")
        link(rel="stylesheet",type="text/css",media="all",href="js/bower_components/pines-notify/jquery.pnotify.default.icons.css")

    body(ng-cloak="")
        div.navbar.navbar-static-top
            div.container
                div.navbar-header
                    button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") Data Glue
                div.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="#/AddData") Add
                        li
                            a(href="#about") About
                        li
                            a(href="#contact") Contact
                        li.dropdown
                            a.dropdown-toggle(href="#",data-toggle="dropdown")
                                | Dropdown
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="#/view1") View 1
                                li
                                    a(href="#/view2") View 2
                                li
                                    a(href="#mysqlTest") Test Mysql
                                li.divider
                                li.dropdown-header Nav header
                                li
                                    a(href="#") Separated link
                                li
                                    a(href="#") One more separated link
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#") Right Action

        div.reveal-animation(ng-view="")
