
div(ng-if="_.contains(['date', 'datetime'], dataSet.dbReferences[dbRefIndex].fields[fieldIndex].DATA_TYPE)")
    div.form-horizontal
        //input(type="text", datepicker-popup="MM-dd-yyyy", ng-model="beginValue", open="beginValueOpened", min="minDate", max="'2016-06-22'", datepicker-options="dateOptions", show-weeks="false", ng-required="true")
        input(type="text", datepicker-popup="MM-dd-yyyy", ng-change="resetOtherFields(dbRefIndex, fieldIndex, 'beginValue')", ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].beginValue", open="beginValueOpened", min="minDate", max="'2016-06-22'", datepicker-options="dateOptions", show-weeks="false", ng-required="true")
        span
            | &nbsp;
            i.icon-calendar(ng-click="openBeginDate()")
            span(ng-if="o.tooltip != undefined")
                | &nbsp;
                i.icon-info-sign(tooltip="{{o.tooltip}}")
            | &nbsp;Begin Date
    div.form-horizontal
        //input(type="text", datepicker-popup="MM-dd-yyyy", ng-model="endValue", open="endValueOpened", min="minDate", max="'2016-06-22'", datepicker-options="dateOptions", show-weeks="false", ng-required="true")
        input(type="text", datepicker-popup="MM-dd-yyyy", ng-change="resetOtherFields(dbRefIndex, fieldIndex, 'beginValue')", ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].endValue", open="endValueOpened", min="minDate", max="'2016-06-22'", datepicker-options="dateOptions", show-weeks="false", ng-required="true")
        span
            | &nbsp;
            i.icon-calendar(ng-click="openEndDate()")
            span(ng-if="o.tooltip != undefined")
                | &nbsp;
                i.icon-info-sign(tooltip="{{o.tooltip}}")
            | &nbsp;End Date

div(ng-if="_.contains(['int', 'float', 'decimal', 'number'], dataSet.dbReferences[dbRefIndex].fields[fieldIndex].DATA_TYPE)")
    div.form-inline
        div.form-group
            label {{ dataSet.dbReferences[dbRefIndex].fields[fieldIndex].COLUMN_NAME }}&nbsp;
            select(ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].cond", ng-options="x.value as x.label for x in whereConds")
                option(value="")
        div.form-group
            | &nbsp;
            input.form-control(type="number", placeholder="Enter a number", ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].condValue", ng-disabled="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].cond === null")

div(ng-if="_.contains(['varchar', 'text', 'longtext'], dataSet.dbReferences[dbRefIndex].fields[fieldIndex].DATA_TYPE)")
    div.form-inline
        div.form-group
            label {{ dataSet.dbReferences[dbRefIndex].fields[fieldIndex].COLUMN_NAME }}&nbsp;
            select(ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].cond", ng-options="x.value as x.label for x in whereConds")
                option(value="")
            | &nbsp;
            input.form-control(type="text", placeholder="Enter a string/text", ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].condValue", ng-disabled="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].cond === null")
        //div.form-group
            | &nbsp;
            input.form-control(type="text", placeholder="Enter a string/text", ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].condValue", ng-disabled="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].cond === null")
