//div.container
    db-info-tree(val="d3TreeData")
//div.container
    div.row
        div.col-lg-12
            db-info-tree(val="d3TreeData", svg-id="dbInfoTreeContainer")
                div#dbInfoTreeContainer

div.container
    div.row
        div.col-xs-12.col-sm-4.col-md-4
            h4.db-info-header Connections
            div.db-info-item(ng-repeat="c in connections", ng-click="select_connection(c)")
                span {{ c }}
        div.col-xs-12.col-sm-4.col-md-4
            h4.db-info-header Schemas/Databases
            //div.db-info-item(ng-repeat="s in schemas", ng-click="select_schema(s.schema)")
            div.db-info-item(ng-repeat="s in schemas", ng-click="select_schema(s)")
                span {{ s }}
        div.col-xs-12.col-sm-4.col-md-4
            h4.db-info-header Tables/Collections
            //dir-table-vis(val="tables")
            div.db-info-item(ng-repeat="t in tables", ng-click="select_table(t.TABLE_NAME)")
                span {{t.TABLE_NAME}}


        //div.col-xs-12.col-sm-6.col-md-3
            h4.text-center Fields
            div.db-info-item(ng-repeat="f in fields")
                span {{f.COLUMN_NAME}}
