div.container
    div.row
        div.col-xs-12.col-sm-6.col-md-3
            h4 Connections
            ul
                li(ng-repeat="c in connections") {{ c }}
        div.col-xs-12.col-sm-6.col-md-3
            h4 Schemas/Databases
            ul
                li(ng-repeat="d in databases") {{ d }}
        div.col-xs-12.col-sm-6.col-md-3
            h4 Tables/Collections
            ul
                li(ng-repeat="c in collections") {{ c }}
        div.col-xs-12.col-sm-6.col-md-3
            h4 Fields
            ul
                li(ng-repeat="f in fields") {{ f }}
