<!--div.container
<db-info-tree val="d3TreeData"></db-info-tree>--><!--div.container
<div class="row">
  <div class="col-lg-12">
    <db-info-tree val="d3TreeData" svg-id="dbInfoTreeContainer">
      <div id="dbInfoTreeContainer"></div>
    </db-info-tree>
  </div>
</div>-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <h4 class="db-info-header">Connections</h4>
      <div ng-repeat="c in connections" ng-click="select_connection(c)" class="db-info-item"><span>{{ c.name }}</span></div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <h4 class="db-info-header">Schemas/Databases</h4>
      <!--div.db-info-item(ng-repeat="s in schemas", ng-click="select_schema(s.schema)")-->
      <div ng-repeat="s in schemas" ng-click="select_schema(s.name)" class="db-info-item"><span>{{ s.name }}</span></div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <h4 class="db-info-header">Tables/Collections</h4>
      <!--dir-table-vis(val="tables")-->
      <div ng-repeat="t in tables" ng-click="select_table(t.TABLE_NAME)" class="db-info-item"><span>{{t.TABLE_NAME}}</span></div>
    </div><!--div.col-xs-12.col-sm-6.col-md-3
    <h4 class="text-center">Fields</h4>
    <div ng-repeat="f in fields" class="db-info-item"><span>{{f.COLUMN_NAME}}</span></div>-->
  </div>
</div>
<!--https://github.com/angular/angular.js/wiki/Understanding-Scopes-->
<div id="graph_options_modal" tabindex="-1" role="dialog" aria-labelledby="graph_options_modal_label" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">{{ dataSetName }}</h4>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <form name="form" role="form" novalidate="novalidate" class="css-form">
          <div class="form-group">
            <label for="dataSetName">Name</label>
            <input name="dataSetName" type="text" placeholder="Enter Graph name" ng-model="dataSetName" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="dataSetDescription">Description</label>
            <textarea name="dataSetDescription" rows="3" ng-model="dataSetDescription" placeholder="Describe the Graph" class="form-control"></textarea>
          </div>
          <!-- Must use ng-show and not ng-if here since there is a break.  I assume the break is due to ng-if-->
          <!-- being evaluated after the angular bindings therefore the ng-model is no longer watched-->
          <div ng-show="connection.type == 'mongo'" class="form-group">
            <label for="optionalRestrictionQuery">Query to restrict Fields&nbsp;</label><i tooltip="If your collection has mixed documents, you may want to set a query here to make sure the right doc format is read.  Ex. {key: 'server_log'} or {key: 'access_log'}" class="icon-info-sign"></i>
            <input type="text" name="restrictionQuery" placeholder="{&quot;somefield&quot;: &quot;somevalue&quot;}" ng-model="restrictionQuery" json="json" class="form-control"/><span ng-show="form.restrictionQuery.$error.json">Not valid Json. Make sure fields are quoted.</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <!--button.btn.btn-default(type="button", data-dismiss="modal") Close-->
          <button type="button" data-dismiss="modal" ng-click="addDataSet()" class="btn btn-primary">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>