
<!-- TODO add in an accordian -- http://getbootstrap.com/javascript/#collapse-->
<div class="row">
  <div class="col-lg-3">
    <!-- TODO -- Really this Graph button isn't necessary.  I should watch the dataSet for changes and-->
    <!-- Dynamically update the graph based on the selected options and such-->
    <div>
      <div class="pull-left"><a ng-href="#/AddData/{{_id}}" class="add-data-href"><i class="icon-plus"></i><span>&nbsp;Add more data&nbsp;</span></a></div>
      <div class="pull-right"><a ng-click="openModalForOptions()" class="add-data-href"><span>&nbsp;Options&nbsp;</span><i class="icon-bar-chart"></i></a></div>
    </div>
    <div class="clearfix"></div>
    <div id="graph_options_accordian" class="panel-group">
      <div ng-repeat="r in dataSet.dbReferences" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div data-toggle="collapse" data-parent="#accordian_graph_options" href="#{{ $index }}" class="accordion-toggle pointer">
              <div class="pull-left">{{ r.table }}</div>
              <div class="pull-right"><i ng-click="openModalForReference($index, r); $event.preventDefault(); $event.stopPropagation();" class="icon-cog pointer"></i>
                <!--i.btn.icon-copy(tooltip="Duplicate this Table", ng-click="copyDbReference($index); $event.preventDefault();")-->
                <!--i.btn.icon-remove(tooltip="Remove this Table", ng-click="removeDbReference($index); $event.preventDefault();")-->
              </div>
              <div class="clearfix"></div>
              <!--| {{ r.connection }} / {{ r.schema }} / {{ r.table }}-->
            </div>
          </h4>
        </div>
        <!-- If you'd like it to default open, add the additional class in-->
        <div id="{{$index}}" ng-class="{in: $index == 0}" class="panel-collapse collapse">
          <div class="panel-body">
            <div ng-repeat="f in r.fields" class="db-info-item text-right"><span ng-class="optionsSetOnField($parent.$index, $index) ? 'dataglue-green' : ''">{{f.COLUMN_NAME}}&nbsp;</span><i ng-click="openModalForField($parent.$index, r, $index, f)" class="icon-edit pointer"></i></div>
          </div>
        </div>
      </div>
    </div><!--Example using the accordion bootstrap angular directive.  I find the above to be more flexible
    <accordion-group ng-repeat="r in dataSet.dbReferences">
      <accordion-heading>{{ r.table }}</accordion-heading>
      <div ng-repeat="f in r.fields" class="db-info-item text-right"><span>{{f.COLUMN_NAME}}</span>
        <select ng-model="f.selectedOptions" ng-options="x.value as x.label for x in fieldOptions"></select>
      </div>
    </accordion-group>-->
  </div>
  <div class="col-lg-9">
    <d3-visualization id="graph_container" val="d3DataSet" type="dataSet.graphType">
      <svg></svg>
    </d3-visualization>
  </div>
</div>
<div id="dbReferenceModal" tabindex="-1" role="dialog" aria-labelledby="dbReferenceModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">{{ dataSet.name }}</h4>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">TBD</div>
      <div class="modal-footer">
        <div class="pull-left">
          <button type="button" data-dismiss="modal" ng-click="copyDbReference(dbRefIndex)" class="btn btn-primary">Duplicate</button>&nbsp;
          <button type="button" data-dismiss="modal" ng-click="removeDbReference(dbRefIndex)" class="btn btn-danger">Delete</button>
        </div>
        <div class="pull-right">
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--https://github.com/angular/angular.js/wiki/Understanding-Scopes-->
<div id="graph_options_modal" tabindex="-1" role="dialog" aria-labelledby="graph_options_modal_label" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">{{ dataSet.name }}</h4>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="graphName">Name</label>
            <input id="graphName" type="text" placeholder="Enter graph name" ng-model="dataSet.name" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="graphDescription">Description</label>
            <textarea id="graphDescription" rows="3" ng-model="dataSet.description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="graphType">Graph Type</label>
            <!--select(ng-model="dataSet.graphType", ng-options="x.value as x.label for x in graphTypes")-->
            <div ng-repeat="o in graphTypes" class="radio">
              <label>
                <input type="radio" name="{{o.name}}" value="{{o.value}}" ng-model="dataSet.graphType"/>{{o.label}}
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <button type="button" data-dismiss="modal" ng-click="deleteDataSet()" class="btn btn-danger">Delete</button>
        </div>
        <div class="pull-right">
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
          <!-- Save but don't cause the SQL to be re-executed-->
          <!-- button.btn.btn-primary(type="button", ng-click="updateMetaData(false)") Save-->
          <!-- Save and cause the SQL to be re-executed-->
          <!-- Remember the graphType is read by the directive and not cause a graph update-->
          <button type="button" ng-click="updateMetaData()" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="graph_field_modal" tabindex="-1" role="dialog" aria-labelledby="graph_field_modal_label" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">{{ selectedFieldName }}</h4>
      </div>
      <div class="modal-body">
        <div id="field_options_tabs" class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#aggregation" data-toggle="tab">Aggregation</a></li>
            <li><a href="#fieldGroupBy" data-toggle="tab">Group by</a></li>
            <li><a href="#where" data-toggle="tab">Where</a></li>
            <li><a href="#info" data-toggle="tab">Info</a></li>
          </ul>
          <div class="tab-content">
            <div id="aggregation" class="tab-pane active">
              <div ng-repeat="o in aggregationOptions" class="radio">
                <label>
                  <!--input(type="radio", name="{{o.name}}", value="{{o.value}}", ng-model="$parent.aggregation")-->
                  <input type="radio" name="{{o.name}}" value="{{o.value}}" ng-change="$parent.resetOtherFields($parent.dbRefIndex, $parent.fieldIndex, o.name)" ng-model="$parent.dataSet.dbReferences[$parent.dbRefIndex].fields[$parent.fieldIndex].aggregation"/>{{o.label}}<span ng-if="o.tooltip != undefined">&nbsp;<i tooltip="{{o.tooltip}}" class="icon-info-sign"></i></span>
                </label>
              </div>
              <p class="muted">* Determines the Y axis</p>
            </div>
            <div id="fieldGroupBy" class="tab-pane">
              <div ng-repeat="o in groupByOptions" class="radio">
                <label>
                  <input type="radio" name="{{o.name}}" value="{{o.value}}" ng-change="$parent.resetOtherFields($parent.dbRefIndex, $parent.fieldIndex, o.name)" ng-model="$parent.dataSet.dbReferences[$parent.dbRefIndex].fields[$parent.fieldIndex].groupBy"/>{{o.label}}<span ng-if="o.tooltip != undefined">&nbsp;<i tooltip="{{o.tooltip}}" class="icon-info-sign"></i></span>
                </label>
              </div>
              <p class="muted">* Determines the X axis</p>
            </div>
            <div id="where" class="tab-pane">
              <div class="form-horizontal">
                <!--input(type="text", datepicker-popup="MM-dd-yyyy", ng-model="beginDate", open="beginDateOpened", min="minDate", max="'2016-06-22'", datepicker-options="dateOptions", show-weeks="false", ng-required="true")-->
                <input type="text" datepicker-popup="MM-dd-yyyy" ng-change="resetOtherFields(dbRefIndex, fieldIndex, 'beginDate')" ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].beginDate" open="beginDateOpened" min="minDate" max="'2016-06-22'" datepicker-options="dateOptions" show-weeks="false" ng-required="true"/><span>&nbsp;<i ng-click="openBeginDate()" class="icon-calendar"></i><span ng-if="o.tooltip != undefined">&nbsp;<i tooltip="{{o.tooltip}}" class="icon-info-sign"></i></span></span>
              </div>
              <div class="form-horizontal">
                <!--input(type="text", datepicker-popup="MM-dd-yyyy", ng-model="endDate", open="endDateOpened", min="minDate", max="'2016-06-22'", datepicker-options="dateOptions", show-weeks="false", ng-required="true")-->
                <input type="text" datepicker-popup="MM-dd-yyyy" ng-change="resetOtherFields(dbRefIndex, fieldIndex, 'beginDate')" ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].endDate" open="endDateOpened" min="minDate" max="'2016-06-22'" datepicker-options="dateOptions" show-weeks="false" ng-required="true"/><span>&nbsp;<i ng-click="openEndDate()" class="icon-calendar"></i><span ng-if="o.tooltip != undefined">&nbsp;<i tooltip="{{o.tooltip}}" class="icon-info-sign"></i></span></span>
              </div>
            </div>
            <div id="info" class="tab-pane">
              <table class="table table-condensed">
                <tr>
                  <td>Field Name</td>
                  <td>{{ selectedField.COLUMN_NAME }}</td>
                </tr>
                <tr>
                  <td>Data Type</td>
                  <td>{{ selectedField.DATA_TYPE }}</td>
                </tr>
                <tr>
                  <td>Column Type</td>
                  <td>{{ selectedField.COLUMN_TYPE }}</td>
                </tr>
                <tr>
                  <td>Index</td>
                  <td>{{ selectedField.INDEX }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
      <!-- Save but don't cause the SQL to be re-executed-->
      <button type="button" ng-click="updateDataSet(false)" class="btn btn-primary">Save</button>
      <!-- Save and cause the SQL to be re-executed-->
      <button type="button" ng-click="updateDataSet()" class="btn btn-primary">Save & Graph</button>
    </div>
  </div>
</div>