
// TODO add in an accordian -- http://getbootstrap.com/javascript/#collapse
div.row-fluid
    div.col-lg-3
        // TODO -- Really this Graph button isn't necessary.  I should watch the dataSet for changes and
        // Dynamically update the graph based on the selected options and such

        div
            div.pull-left
                a.add-data-href(ng-href="#/AddData/{{_id}}")
                    i.fa.fa-plus
                    span &nbsp;Add more data&nbsp;
            div.pull-right
                a.add-data-href(ng-click="openModalForOptions()")
                    span &nbsp;Options&nbsp;
                    i.fa.fa-bar-chart-o

        div.clearfix


        div.panel-group#graph_options_accordian
          div.panel.panel-default(ng-repeat="r in dataSet.dbReferences")
            div.panel-heading
              h4.panel-title
                div.accordion-toggle.pointer(data-toggle="collapse", data-parent="#accordian_graph_options", href='\#{{ $index }}')
                    div.pull-left
                        | {{ r.table }}
                    div.pull-right
                        i.fa.fa-cog.pointer(ng-click="openModalForReference($index, r); $event.preventDefault(); $event.stopPropagation();")
                        //i.btn.icon-copy(tooltip="Duplicate this Table", ng-click="copyDbReference($index); $event.preventDefault();")
                        //i.btn.icon-remove(tooltip="Remove this Table", ng-click="removeDbReference($index); $event.preventDefault();")
                    div.clearfix
                    //| {{ r.connection }} / {{ r.schema }} / {{ r.table }}

            // If you'd like it to default open, add the additional class in
            div.panel-collapse.collapse(id="{{$index}}", ng-class="{in: $index == 0}")
              div.panel-body
                div.db-info-item.text-right(ng-repeat="f in r.fields")
                    i.fa.fa-info-circle(ng-if="optionsSetOnField($parent.$index, $index)", tooltip="{{fieldOptionDisplay(r, $index)}}")
                    // If there are any field options set glow the field green
                    span(ng-class="optionsSetOnField($parent.$index, $index) ? 'dataglue-green' : ''")
                        | &nbsp;{{f.COLUMN_NAME}}&nbsp;
                    i.fa.fa-edit.pointer(ng-click="openModalForField($parent.$index, r, $index, f)")

        //Example using the accordion bootstrap angular directive.  I find the above to be more flexible
            accordion-group(ng-repeat="r in dataSet.dbReferences")
                accordion-heading {{ r.table }}
                div.db-info-item.text-right(ng-repeat="f in r.fields")
                    span {{f.COLUMN_NAME}}
                    select(ng-model="f.selectedOptions", ng-options="x.value as x.label for x in fieldOptions")

    div.col-lg-9#main_container
        d3-visualization#graph_container(val="d3DataSet", type="dataSet.graphType", legend="dataSet.showLegend")
            svg

div#dbReferenceModal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="dbReferenceModalLabel",aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title {{ dataSet.name }}
                div.clearfix
            div.modal-body
                div.checkbox
                    label
                        input(type="checkbox", ng-model="dataSet.dbReferences[dbRefIndex].cache")
                        | Cache
                div.form-group
                    label(for="limit") Limit
                        select(ng-model="dataSet.dbReferences[dbRefIndex].limit", ng-options="x.value as x.label for x in limits")

            div.modal-footer
                div.pull-left
                    button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="copyDbReference(dbRefIndex)") Duplicate
                    | &nbsp;
                    button.btn.btn-danger(type="button", data-dismiss="modal", ng-click="removeDbReference(dbRefIndex)") Delete
                div.pull-right
                    button.btn.btn-primary(type="button", ng-click="updateDataSet(false)") Save
                    | &nbsp;
                    button.btn.btn-default(type="button", data-dismiss="modal") Close

//https://github.com/angular/angular.js/wiki/Understanding-Scopes
div#graph_options_modal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="graph_options_modal_label",aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title {{ dataSet.name }}
                div.clearfix
            div.modal-body
                form(role="form")
                    div.form-group
                        label(for="graphName") Name
                        input#graphName.form-control(type="text", placeholder="Enter graph name", ng-model="dataSet.name")
                    div.form-group
                        label(for="graphDescription") Description
                        textarea#graphDescription.form-control(rows="3", ng-model="dataSet.description")
                    div.form-group
                        label(for="graphType") Graph Type
                        //select(ng-model="dataSet.graphType", ng-options="x.value as x.label for x in graphTypes")
                        div.radio(ng-repeat="o in graphTypes")
                            label
                                input(type="radio", name="{{o.name}}", value="{{o.value}}", ng-model="dataSet.graphType")
                                | {{o.label}}
                    div.form-group
                        div.checkbox
                            label
                                input(type="checkbox", ng-model="dataSet.dbReferences[dbRefIndex].showLegend")
                                | Show Graph Legend

            div.modal-footer
                div.pull-left
                    button.btn.btn-danger(type="button", data-dismiss="modal", ng-click="deleteDataSet()") Delete
                div.pull-right
                    button.btn.btn-default(type="button", data-dismiss="modal") Close
                    // Save but don't cause the SQL to be re-executed
                    // button.btn.btn-primary(type="button", ng-click="updateMetaData(false)") Save
                    // Save and cause the SQL to be re-executed
                    // Remember the graphType is read by the directive and not cause a graph update
                    button.btn.btn-primary(type="button", ng-click="updateMetaData()") Save

div#graph_field_modal.modal.fade(tabindex="-1",role="dialog",aria-labelledby="graph_field_modal_label",aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title {{ selectedFieldName }}
            div.modal-body
                div#field_options_tabs.tabbable
                    ul.nav.nav-tabs
                        li.active
                            a(href='#aggregation', data-toggle='tab')
                                span(ng-class="aggregationSetOnField(selectedField) ? 'dataglue-green' : ''") Aggregation
                        li
                            a(href='#fieldGroupBy', data-toggle='tab')
                                // Group by
                                span(ng-class="groupBySetOnField(selectedField) ? 'dataglue-green' : ''") Group By
                        li
                            a(href='#where', data-toggle='tab')
                                span(ng-class="whereSetOnField(selectedField) ? 'dataglue-green' : ''") Where
                        li
                            a(href='#info', data-toggle='tab') Info
                    div.tab-content
                        div#aggregation.tab-pane.active
                            br
                            include templates/graph/fieldAggregationOptions
                        div#fieldGroupBy.tab-pane
                            br
                            include templates/graph/fieldGroupByOptions
                        div#where.tab-pane
                            br
                            include templates/graph/fieldWhereConds
                        div#info.tab-pane
                            table.table.table-condensed
                                tr
                                    td Field Name
                                    td {{ selectedField.COLUMN_NAME }}
                                tr
                                    td Data Type
                                    td {{ selectedField.DATA_TYPE }}
                                tr
                                    td Column Type
                                    td {{ selectedField.COLUMN_TYPE }}
                                tr
                                    td Key
                                    td {{ selectedField.COLUMN_KEY }}
           div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Close
                // Save but don't cause the SQL to be re-executed
                button.btn.btn-primary(type="button", ng-click="updateDataSet(false)") Save
                // Save and cause the SQL to be re-executed
                button.btn.btn-primary(type="button", ng-click="updateDataSet()") Save & Graph
